<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>聊天室</title>
    <script th:src="@{/websocket/sockjs.min.js}"></script>
    <script th:src="@{/websocket/stomp.js}"></script>
    <script th:src="@{/websocket/jquery-3.1.1.js}"></script>
</head>
<body>
<p>聊天室</p>
<form id="aricForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit" />
</form>
<div id="output"></div>
</body>
<script type="text/javascript">
    $("#aricForm").submit(function(e){
        e.preventDefault();
        var text = $("#aricForm").find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    var sock = new SockJS("http://localhost:8080/chating");//连接endpoint名为"endpointChat"的endpoint
    var stomp = Stomp.over(sock);
    stomp.connect('guest','guest',function(frame){
        //订阅/user/queue/notifications发送的消息,这里与在simpMessagingTemplate.convertAndSendToUser定义地址一致,/user是必须的
        stomp.subscribe("/user/queue/notifications",handleNotification);
    });

    function handleNotification(message){
        $("#output").append("<b>" + message.body + "</b><br/>");
    }

    function sendSpittle(text){
        stomp.send("/chat",{},text);
    }

    $("#stop").click(function(){
        sock.close();
    });
</script>
</html>